	.navegador{
		.logo{
			h1{
				font-size: 2.2em;
			}

			.menu{
				width: 95%;

				> li {
					.sub-menu{
						font-size: .8em;

						li:hover{
							box-shadow: inset 200px 0px 0 $base-dk;
						}
					}
				}

				a{
					font-size: .85em;
				}
			}
		}
	}
		
	.main{
		.descript{
			h1{
				font-size: 1.7em;
			}
		}

		.cuadro-descrip{
			.slider{
				li{
					h1{
						font-size: 1.7em;
					}

					p{
						width: 100%;
						font-size: .8em;
					}

					a{
						font-size: .8em;
					}
				}
			}
		}
	}


	article.contenido {
		.flex-fila{
			width: 100%;
			height: 1200px;
			flex-direction: column;
		}
		
		.box-description{ 
			.box-wrap{
				width: 100%;
			}
		}
	}


	.box{
		.caja-tarjetas{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			.tarjeta-wrap{
				// width: 400;
			}
		}
	}
	footer{
		.box.pos{
			p{
				font-size: .9em;
			}
		}

		.box.redes{
			.items-redes{
				width: 80%;
			}
		}
	}