.navegador{
	.logo{
		h1{
			font-size: 1.5em;
		}

		.menu{
			width: 100%;
			flex-direction: column;
			font-size: .9em;
			border-radius: 0;

			>li{
				padding: 10px;

				.sub-menu{
					display: none;
					font-size: .5em;
				}
			}

			a{
				font-size: .85em;
			}
		}
	}
}

.main .cuadro-descrip{
	.slider{
		li{
			h1{
				font-size: 1.4em;
			}

			p{
				width: 100%;
				font-size: .7em;
			}

			a{
				font-size: .7em;
			}
		}
	}
}

.box{
	.cuadro-info{
		h2{
			font-size: 1.5em;
		}

		p{
			font-size: 0.75em;
		}
	}

	.caja-tarjetas{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		.tarjeta-wrap{
			width: 100%;

			.tarjeta{
				.adelante{
					h1{
						font-size: 1.4em;
					}
				}

				.atras{
					p{
						font-size: 0.85em;
					}
				}
			}
		}
	}
}

footer {
	.box.redes{
		h2{
			font-size: 1.3em;
		}

		.items-redes{
			span{
				font-size: 90%;
			}
		}
	}

	.box.pos p{
		font-size: 80%;
	}
}