// Colores Basse
$base-dk: #072A41;
$base: #094268;
$base-md: #0B4368;
$base-md-lg: #126DA7;
$base-lg: #1996E7;
$base-no: #059BD8;

$black: #222023;
$white: #F3F3F3;

// Colores Varios
	// Liderazgo
	$LDZ-mora: #A63788;
	$LDZ-salmon: #F29D52;
	$LDZ-carne: #F28F6B;
	$LDZ-gris: #D8D9D0;
	$LDZ-grisazul: #95ACBF;

	// Adoracion
	$ADC-naranja: #F26B1D;
	$ADC-marron: #8C5E54;
	$ADC-rojo: #BF2C2C;
	$ADC-white: #F2E9E9;
	$ADC-black: #0D0D0D;

	// Danzas
	$DNZ-mora: #9266F2;
	$DNZ-mora-md: #5F3DD9;
	$DNZ-mora-dk: #4738A6;
	$DNZ-dark: #20284C;
	$DNZ-azul: #425B8C;

	// Eventos
	$EVN-blue-dk: #498582;
	$EVN-green: #23EB6E;
	$EVN-blue: #09B8AF;
	$EVN-blue-lg: #D8E0F2;
	