// Pag Saber Mas
@mixin QdroP($nombre, $color-up, $color-down) {
	&##{$nombre}{
		.titulo{
			background: linear-gradient($color-up 80%, $color-down 20%);			
		}

		img:hover{
			box-shadow: 0px 15px 20px 0px $color-down;
		}

		.contenedor{
			h2{
				background: linear-gradient($color-up 90%, $color-down 10%);
			}

			>div ul{
				background: $color-up;	
				li:hover{
					background: $color-down;
				}
			}
		}
	}
}