@font-face{
	font-family: "Roboto Slab";
	src: url("../font/Roboto Slab/RobotoSlab-VariableFont_wght.ttf");
}

@font-face{
	font-family: "Bree Serif";
	src: url("../font/Bree_Serif/BreeSerif-Regular.ttf");
}

@font-face{
	font-family: "Google sans";
	src: url("../font/Google Sans/Google-sans.woff2");
}